* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3 {
  margin: 0;
  color: #0278ae;
}

.Header {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 60px;
  background-color: #121212;
}

.LogoHeader {
  display: flex;
  align-items: center;
}

.LogoHeader__container {
  color: #0278ae;
  height: 40px;
  width: 50px;
}
.LogoHeader__title {
  font-size: 24px;
}
.LogoHeader__img {
  height: 50px;
  width: 50px;
}
.Page {
  background-color: #292929;
  height: calc(100vh - 60px);
  color: #0278ae;
  padding: 30px 25px 0;
}

.Page__title {
  font-size: 48px;
  color: rgba(255, 255, 255, 0.87);
}

.Page__subtitle {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.38);
}

.Page__container {
  max-width: 744px;
}
.Page__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
  margin-top: 30px;
}
.LanguageCard {
  height: 100px;
  padding: 20px;
  color: rgba(255, 255, 255, 0.87);
  border: none;
  outline: none;
  cursor: pointer;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.16),
      rgba(255, 255, 255, 0.16)
    ),
    #121212;
  box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14),
    0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.LanguageCard p {
  margin: 0;
  margin-bottom: 10px;
}

.LanguageCard__language {
  background-color: #4e89ae;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 24px;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
}
.LanguageCard__language:hover {
  background-color: #68a7ce;
  border-bottom-color: #1a1a1a;
  box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14),
    0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
}
.Page__text {
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.87);
  border-radius: 4px;
  padding: 14px 30px;
  color: black;
}

